/*Green  D #3C8840, L #83C986 || purple L #9349C2, D #63258B || blue L #24D1B9, D #1A917E */
/*Default Form Input textarea select
-------------------------------------------------------------------*/
form div, .form-actions, form div.captcha, div.form-item > div, div.form-item > div, div.form-type-textarea, div.field-type-text-long, form > div > div.form-item, div.form-type-textarea > div, div.field-type-text-long div {
 width: 100%;
}
form {
 width: 70%;
 margin-left: 15%;
 margin-right: 15%;
}
form label, form input, form select, form textarea {
 float: left;
 display: block;
 font-weight: normal;
 text-align: left;
 clear: both;
 font-weight: normal;
 border: none;
 clear: both;
 width: 100%;
 padding: 0;
 margin: 0;
}
form label {
 margin-top: 0.313em;
}
.form-checkbox, .form-radiobox {
 width: auto;
 float: left;
 clear: none;
 padding: 0;
 margin: 20px 10px 0 0;
}
.form-type-checkbox label, .form-type-radiobox label, .form-type-radiobox .field-label, .form-type-checkbox .field-label {
 clear: none!important;
 width: auto!important;
}
.form-submit, .form-actions {
 text-align: center;
}
div.description {
 font-size: 0.938em;
}
#edit-actions {
 margin-top: 0.938em;
 margin-bottom: 0.938em;
}
#edit-terms-of-use .fieldset-wrapper label {
 color: #666!important;
}
#edit-terms-of-use .fieldset-wrapper a {
 color: #F00;
}
#edit-terms-of-use .fieldset-wrapper a:hover {
 border-bottom: 1px dotted #f00;
}
label, .field-lable, h3.posting-guides, #edit-advanced > legend span a, #edit-terms-of-use .fieldset-legend {
 font-family: 'Oswald-Bold', Verdana, Tahoma, Arial, Sans-Serif;
 text-align: center;
 font-size: 1.4em;
 line-height: 1.4em;
 text-transform: uppercase;
}
a.button, .form-text, .form-select, a.button:link, .form-textarea, input.form-submit, div.captcha > img, .form-actions #edit-cancel {
 -moz-box-shadow: 0px 0px 0.188em #ccc;
 -webkit-box-shadow: 0px 0px 0.188em #ccc;
 box-shadow: 0px 0px 0.188em #ccc;
 -moz-border-radius: 0.313em;
 -webkit-border-radius: 0.313em;
 border-radius: 0.313em;
}
a.button, a.button:link, input.form-submit, .form-actions #edit-cancel {
 font-family: 'Oswald-Bold', Verdana, Tahoma, Arial, Sans-Serif;
 font-size: 2em;
 line-height: 2em;
 padding: 0 1.250em;
 float: none;
 text-transform: uppercase;
 text-align: center;
 margin: 10px auto;
 width: auto;
 display: inline-block;
}
.search-page > ul.search-results, .search-page > div.description, .search-page > h1, .search-page > h4 {
 clear: both;
 width: 70%;
 margin-left: 15%;
 list-style: none;
}
.search-form div {
 text-align: center;
}
.form-text, .form-select, .form-textarea {
 padding: 0.7em 1%;
 width: 98%;
}
.form-submit {
 margin-top: 10px;
 margin-bottom: 10px;
}
ul.search-results li {
 float: left;
 clear: both;
}
/*Captcha
-------------------------------------------------------------------*/
div.captcha {
 margin-bottom: 1.875em;
}
div.captcha > img {
 width: 19%!important;
 float: right;
 margin-top: 38px;
 height: 40px !important;
}
div.captcha > div {
 width: 79%;
}
div.captcha .description {
 text-align: left;
 width: 100%;
 display: none;
}
#edit-captcha-response {
 width: 96%;
}
/* Expanded text filter box and description for forms
-------------------------------------------------------------------*/
.filter-guidelines {
 position: relative;
 float: none;
 border: 1px solid #E4E4E4;
 padding: 10px;
}
.grippie {
 border-bottom: 1px solid #ccc;
 width: 98%!important;
 height: 2px;
 padding: 0 1%;
 background: #ccc;
 margin-bottom: 0.625em;
 cursor: n-resize;
}
h3.posting-guides, #edit-body .filter-guidelines, #edit-comment-body .filter-guidelines {
 padding: 1%;
 -moz-box-shadow: 0px 0px 0.188em #ccc;
 -webkit-box-shadow: 0px 0px 0.188em #ccc;
 box-shadow: 0px 0px 0.188em #ccc;
 margin-bottom: 0.938em;
}
.text-format-wrapper .fieldset-wrapper .filter-help {
 display: none;
 visibility: hidden;
 height: 0;
 width: 0;
}
.text-format-wrapper .fieldset-wrapper .form-type-select {
 width: 48%!important;
 float: right!important;
 text-align: right;
}
#edit-advanced > legend span a {
}
h3.posting-guides {
 clear: none;
 cursor: pointer;
 display: block;
 float: left;
 line-height: 40px;
 margin-top: 1.8em;
 padding: 0 0 0 1%;
 position: relative;
 text-align: left;
 width: 47%;
 -moz-border-radius: 0.125em 0.125em;
 -webkit-border-radius: 0.125em 0.125em;
 border-radius: 0.125em 0.125em;
}
#edit-body .filter-guidelines, #edit-comment-body .filter-guidelines {
 position: relative;
 width: 98%!important;
 display: none;
}
.filter-guidelines {
 text-align: left!important;
 margin-top: 5px;
}
#user-register-form div.description {
 display: none;
}
form label.option, form div.description {
 float: left;
 display: inline-block;
}
/*password
-------------------------------------------------------------------*/
div.password-confirm, div.password-strength, div.password-suggestions {
 text-align: left;
 color: #9349C2;
 font-size: 1em;
}
div.password-suggestions ul {
 float: left;
}
div.password-suggestions ul li {
 color: #83C986;
 font-size: 0.9em;
 float: left;
 margin-left: 20px;
}
div.password-confirm {
 text-align: right;
}
div.password-confirm span {
 min-width: 10px;
}
.password-strength-text {
 float: right!important;
 color: #68A03F;
 font-weight: bold;
 width: auto;
 margin-left: 10px;
}
.password-strength-title {
 float: right!important;
 width: auto;
}
div.password-indicator {
 height: 5px;
 background: #F33;
 display: block;
}
div.password-indicator div.indicator {
 height: 5px;
 background: #68A03F;
}
#edit-name-check, #edit-mail-check {
 padding: 0;
 margin: 10px 0 0 0;
 border: none;
 -moz-box-shadow: none;
 -webkit-box-shadow: none;
 box-shadow: none;
 display: block;
 clear: both;
 width: 98%;
 line-height: 1em;
 height: auto;
}
#edit-name-check span, #edit-mail-check span {
 float: left;
 display: block;
 margin: 0 0 0 20px;
 font-size: 0.9em;
}
.form-item-mail div.description {
 clear: both;
}
#edit-name-check.ok, #edit-mail-check.ok {
 color: #A9CA46;
}
#edit-name-check.error, #edit-mail-check.error {
 color: #F03;
}
.confirm-parent div.password-confirm {
 width: auto;
 float: right!important;
 clear: none;
}
.confirm-parent label {
 width: auto!important;
 float: left;
 clear: none;
}
#user-login div.description {
 display: none;
}
.login-social {
 text-align: center;
}
form#user-profile-form fieldset, form#user-profile-form div {
 float: left;
 display: inline-block;
 width: 100%;
}
form#user-profile-form #edit-contact {
 margin-bottom: 15px;
}
#edit-fb-user div {
 border: none!important;
}
#user-profile-form #edit-picture a {
 float: left;
 display: block;
}
#user-profile-form #edit-picture div.form-type-file {
 max-width: 78%!important;
 clear: none!important;
}
#user-profile-form #edit-picture div.user-picture {
 min-width: 90px;
 max-width: 20%!important;
 clear: none!important;
}
form > div {
 text-align: center;
}
/* Edit twitter account forms
-------------------------------------------------------------------*/
.page-user-edit-twitter .left-web > div, .page-user-edit-twitter .left-web > form, .page-user-edit-twitter .left-web > fieldset {
 float: left;
 clear: both;
}
form#twitter-non-auth-account-form, form#twitter-auth-account-form, form#twitter-account-list-form {
 margin-left: 5%;
 margin-right: 5%;
 width: 90%;
}
fieldset.form-wrapper legend, fieldset.form-wrapper legend span {
 float: left;
 width: 100%;
}
.left-web > p {
 float: left;
 width: 100%;
}
.view-id-tweets li {
 float: left;
 margin: 2%;
 border: 1px solid #ccc;
 width: 88%;
 padding: 10px 4%;
}
.view-id-tweets li .views-field, .view-id-tweets li .field-content, .view-id-tweets li .twitter-status {
 width: 100%;
 clear: both;
 padding: 0;
 margin: 0;
 border: 0;
}
.view-id-tweets ul.actions {
 float: left;
 width: 100%;
 clear: both;
}
.view-id-tweets ul.actions li {
 border: none;
 float: right;
 margin-left: 10px;
 clear: none;
 width: auto;
}
.view-id-tweets li .twitter-status div.avatar {
 margin: 0 5px 0 0;
}
.view-id-tweets li .twitter-status div.name-handle {
 float: right!important;
}
.view-id-tweets li .twitter-status div.text {
 clear: both;
 margin: 0;
 width: 100%;
}
