/* Customized HTML TAGS
 1px  = 0.063em
 2px  = 0.125em
 3px  = 0.188em
 5px  = 0.313em
 10px = 0.625em
 15px = 0.938em
 20px = 1.250em
 -------------------------------------------------------------------*/
@font-face {
 font-family: 'Anton';
 src: url('../fonts/Anton.eot');
 src: local('☺'), url('../fonts/Anton.woff') format('woff'), url('../fonts/Anton.ttf') format('truetype'), url('../fonts/Anton.svg') format('svg');
 font-weight: normal;
 font-style: normal;
}
@font-face {
 font-family: 'League-Gothic';
 src: url('../fonts/League-Gothic.eot');
 src: local('☺'), url('../fonts/League-Gothic.woff') format('woff'), url('../fonts/League-Gothic.ttf') format('truetype'), url('../fonts/League-Gothic.svg') format('svg');
 font-weight: normal;
 font-style: normal;
}
@font-face {
 font-family: 'Oswald-Bold';
 src: url('../fonts/Oswald-Bold.eot');
 src: local('☺'), url('../fonts/Oswald-Bold.woff') format('woff'), url('../fonts/Oswald-Bold.ttf') format('truetype'), url('../fonts/Oswald-Bold.svg') format('svg');
 font-weight: normal;
 font-style: normal;
}
@font-face {
 font-family: 'Oswald-Regular';
 src: url('../fonts/Oswald-Bold.eot');
 src: local('☺'), url('../fonts/Oswald-Regular.woff') format('woff'), url('../fonts/Oswald-Regular.ttf') format('truetype'), url('../fonts/Oswald-Regular.svg') format('svg');
 font-weight: normal;
 font-style: normal;
}
@font-face {
 font-family: 'Proxima-Nova-Regular';
 src: url('../fonts/Oswald-Bold.eot');
 src: local('☺'), url('../fonts/Proxima-Nova-Regular.woff') format('woff'), url('../fonts/Proxima-Nova-Regular.ttf') format('truetype'), url('../fonts/Proxima-Nova-Regular.svg') format('svg');
 font-weight: normal;
 font-style: normal;
}
.view-websites .views-row {
 clear: both;
 width: 100%;
}
.view-websites .item-list {
 clear: both;
 width: 100%;
}
body, .syntaxhighlighter td {
 font: 100%/26px 'Proxima-Nova-Regular', Verdana, Tahoma, Arial, Sans-Serif;
 font-weight: normal;
 height: 100%;
 font-size: 100%; /*16px*/
}
h1 {
 font-size: 1.5em; /*24px*/
 line-height: 1; /*34px*/
}
h2 {
 font-size: 1.250em;
 line-height: 1.2em;
}
h3 {
 font-size: 1.1em;
 line-height: 1.25em;
}
h4 {
 font-size: 0.875em;
 line-height: 1.428571428571429em;
}
h5 {
 font-size: 0.750em;
 line-height: 1.666666666666667em;
}
h6 {
 font-size: 0.688em;
 line-height: 1.818181818181818em;
}
p {
 text-align: justify;
 font-weight: normal;
}
abbr[title] {
 border-bottom: 1px dotted;
}
/*  User Account
 -------------------------------------------------------------------*/
.page-user .view-mode-full {width:100%; clear: both;}
.page-user .view-mode-full > div,
.page-user .view-mode-full > h3,
.page-user .view-mode-full > h2,
.page-user .view-mode-full > dl {clear:both; width:100%;}
/*  Header - Login or Register
 -------------------------------------------------------------------*/
#user-menu {
 text-align: center;
 width: 100%;
}
#header div#user-menu {
 float: right;
 font-size: 83%;
 margin: 0 1%;
 clear: both;
 display: block;
}
#header #site-name {
 font-weight: normal;
 line-height: 0.8em;
 text-align: center;
 max-width: 100%;
 letter-spacing: 3px;
 text-transform: uppercase;
 font-size: 600%;
 float: none;
 font-family: 'Anton', Verdana, Tahoma, Arial, Sans-Serif;
}
#header #site-slogan {
 margin: 0;
 padding: 0;
 display: block;
 line-height: 1.7em;
 font-size: 300%;
 letter-spacing: 2px;
 text-align: center;
 float: none;
 max-width: 100%;
 font-family: 'Oswald-Bold', Verdana, Tahoma, Arial, Sans-Serif;
}
/*  Main Menu
 -------------------------------------------------------------------*/
#header #main-menu {
 clear: both;
 width: 100%;
}
#main-menu ul.menu {
 margin: 0 auto;
 width: 100%;
 text-align: center;
 line-height: 2.6em;
 display: block;
}
#main-menu ul.menu li {
 list-style: none;
 display: inline-block;
}
#main-menu ul.menu li a {
 text-align: center;
}
#main-menu ul.menu li a {
 text-transform: uppercase;
 font-size: 1.3em;
 letter-spacing: 0.1em;
 padding: 0.313em 0.938em;
 display: inline-block;
 font-family: 'Oswald-Regular', Verdana, Tahoma, Arial, Sans-Serif;
}
#main-menu ul.menu li a:hover {
 cursor: pointer;
}
#header a:focus {
 outline: none !important;
}
/*  pager
 -------------------------------------------------------------------*/

ul.pager, ul.flippy {
 list-style: none;
 width: 100%;
 clear: both;
 display: inline-block;
 text-align: center;
 margin: 0.938em auto;
 float: none;
}
ul.pager li, ul.flippy li {
 display: inline;
 margin: 0.313em 0.625em;
 text-align: center;
 float: none;
}
ul.pager li.pager-current {
 text-decoration: underline;
}
ul.flippy li, .comment-form a.username {
 font-weight: bold;
}
/* right Side google-facebook-twitter
 -------------------------------------------------------------------*/
ul.tweets-pulled-listing {
 list-style: none;
}
div.tweets-pulled-listing, .right-web .section > ul.menu {
 overflow: hidden;
 padding: 2%;
 width: 96%;
 -moz-box-shadow: 0px 0px 3px #ccc;
 -webkit-box-shadow: 0px 0px 3px #ccc;
 box-shadow: 0px 0px 3px #ccc;
 -moz-border-radius: 0.313em;
 -webkit-border-radius: 0.313em;
 border-radius: 0.313em;
 position: relative;
 margin: 0 0 0.938em 0;
}
div.tweets-pulled-listing > h2 {
 text-align: center;
}
ul.tweets-pulled-listing, ul.tweets-pulled-listing li {
 float: left;
 margin: 4px 0;
}
ul.tweets-pulled-listing .tweet-author, ul.tweets-pulled-listing iframe.twitter-follow-button {
 display: none;
 visibility: hidden;
 height: 0;
 width: 0;
}
ul.tweets-pulled-listing li > div, ul.tweets-pulled-listing li > div > div, div.tweet-author-wrapper .tweet-author-info {
 width: 100%;
}
div.tweet-author-wrapper .tweet-author-info {
 height: 33px;
 line-height: 35px;
}
div.tweet-footer .tweet-actions {
 float: right !important;
 text-align: right !important;
 width: auto !important;
}
div.tweet-footer .tweet-time {
 text-align: left !important;
 width: auto !important;
}
div.tweet-footer .tweet-actions a {
 margin: 0 0 0 0.313em;
}
.tweet-authorphoto a {
 display: block;
 float: left;
 height: 40px;
 margin: 0 10px 0 0;
 width: 40px;
}
.tweet-divider {
 border-bottom: 1px solid #ccc;
}
ul.follow-btns {
 display: inline-block;
 text-align: center;
 width: 100%;
}
div.tweet-text {
 background: #F8F8F8;
 padding: 0.188em 2%;
 width: 96% !important;
 -moz-box-shadow: 0 0 0.125em #ccc;
 -webkit-box-shadow: 0 0 0.125em #ccc;
 box-shadow: 0 0 0.125em #ccc;
}
ul.follow-btns li {
 list-style: none;
 clear: none;
 display: inline-block;
 text-align: center;
 padding: 10px 6px;
 margin: 5px 5px 0 0;
 height: 26px;
 -moz-border-radius: 9px 0 9px 0;
 -webkit-border-radius: 9px 0 9px 0;
 border-radius: 9px 0 9px 0;
 -moz-box-shadow: 0 0 2px #888;
 -webkit-box-shadow: 0 0 2px #888;
 box-shadow: 0 0 2px #888;
}
.follow-t > iframe {
 float: left !important;
 margin: 5px 0 0 !important;
 width: 60px !important;
}
.follow-g > div {
 float: left !important;
 margin: 2px 0 0 !important;
}
.follow-f .fb_iframe_widget {
 float: left;
 margin: 3px 0 0;
 overflow: hidden;
 width: 60px;
}
li.follow-t {
 background: rgb(55,170,220);
 background: -moz-linear-gradient(top, rgb(55,170,220) 0%, rgb(46,147,190) 100%);
 background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgb(55,170,220)), color-stop(100%, rgb(46,147,190)));
 background: -webkit-linear-gradient(top, rgb(55,170,220) 0%, rgb(46,147,190) 100%);
 background: -o-linear-gradient(top, rgb(55,170,220) 0%, rgb(46,147,190) 100%);
 background: -ms-linear-gradient(top, rgb(55,170,220) 0%, rgb(46,147,190) 100%);
 background: linear-gradient(to bottom, rgb(55,170,220) 0%, rgb(46,147,190) 100%);
 filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#37aadc', endColorstr='#2e93be', GradientType=0 );
}
li.follow-g {
 background: rgb(213,71,43);
 background: -moz-linear-gradient(top, rgb(213,71,43) 0%, rgb(158,46,37) 100%);
 background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgb(213,71,43)), color-stop(100%, rgb(158,46,37)));
 background: -webkit-linear-gradient(top, rgb(213,71,43) 0%, rgb(158,46,37) 100%);
 background: -o-linear-gradient(top, rgb(213,71,43) 0%, rgb(158,46,37) 100%);
 background: -ms-linear-gradient(top, rgb(213,71,43) 0%, rgb(158,46,37) 100%);
 background: linear-gradient(to bottom, rgb(213,71,43) 0%, rgb(158,46,37) 100%);
 filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d5472b', endColorstr='#9e2e25', GradientType=0 );
}
li.follow-f {
 background: rgb(107,129,205);
 background: -moz-linear-gradient(top, rgb(107,129,205) 0%, rgb(64,84,160) 100%);
 background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgb(107,129,205)), color-stop(100%, rgb(64,84,160)));
 background: -webkit-linear-gradient(top, rgb(107,129,205) 0%, rgb(64,84,160) 100%);
 background: -o-linear-gradient(top, rgb(107,129,205) 0%, rgb(64,84,160) 100%);
 background: -ms-linear-gradient(top, rgb(107,129,205) 0%, rgb(64,84,160) 100%);
 background: linear-gradient(to bottom, rgb(107,129,205) 0%, rgb(64,84,160) 100%);
 filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6b81cd', endColorstr='#4054a0', GradientType=0 );
}
/* Footer Menu
 -------------------------------------------------------------------*/
#footer ul {
 margin: 0 auto;
 text-align: center;
 list-style: none;
 display: block;
}
#footer ul.menu {
 clear: both;
 margin: 10px 0;
}
#footer ul li {
 display: inline;
 margin: 0 0.313em;
}
#footer ul li a {
 text-decoration: none;
}
/*footer Copyright
 -------------------------------------------------------------------*/
#footer .copyright {
 text-align: center;
 margin: 0 5%;
 line-height: 1.4em;
 font-size: 0.8em;
 display: block;
 clear: both;
 padding-top: 15px;
 width: 90%;
}
/* System tabs
 -------------------------------------------------------------------*/
div.tabs {
 width: 100%;
 clear: both;
 clear: both;
}
ul.tabs {
 margin: 0;
}
ul.primary, ul.secondary {
 width: 98%;
 clear: both;
 padding: 0 1%;
 margin: 0 auto;
 float: left;
 border-bottom: 1px solid #999;
}
ul.primary {
 margin-bottom: 15px;
 margin-top: 10px;
}
ul.secondary {
 border-bottom: none;
}
ul.primary li, ul.secondary li {
 display: inline-block;
 vertical-align: bottom;
 margin: 0 5px 5px 0;
}
ul.primary li a, ul.secondary li a {
 border: 1px solid #999;
 display: block;
 float: left;
 margin: 0;
 padding: 6px 15px;
 vertical-align: bottom;
 font-size: 25px;
 line-height: 25px;
 border-radius: 3px;
 -moz-border-radius: 3px;
 -webkit-border-radius: 3px;
 font-family: 'Oswald-Bold', Verdana, Tahoma, Arial, Sans-Serif;
}
ul.secondary li a {
 font-size: 15px;
 line-height: 20px;
 padding: 3px 5px;
 font-family: Arial, Helvetica, sans-serif;
 margin-top: 5px;
}
ul.primary li.active {
 margin-bottom: 0;
}
ul.primary li.active a, ul.secondary li.active a {
 -moz-border-radius: 8px 8px 0 0;
 -webkit-border-radius: 8px 8px 0 0;
 border-radius: 8px 8px 0 0;
 padding: 8px 20px;
 border-bottom: none;
}
ul.secondary li.active a {
 padding: 2px 15px;
}
/*Messages
 -------------------------------------------------------------------*/
div#messages {
 width: 98%;
 padding: 1%;
}
div#messages div.messages {
 margin: 0;
 padding: 1%;
 position: relative;
 clear: both;
 width: 98%;
 font-family: "Trebuchet MS", Verdana, Tahoma, Arial, Sans-Serif;
 font-size: 1em;
}
/*div.status, .ok, div.warning, .warning, div.error, .error, div.error p.error { color:#222; }*/
div.warning, table tr.warning, div.error, table tr.error, div.status, table tr.ok {
 padding: 10px 20px;
 -moz-box-shadow: 0px 0px 1px #ccc;
 -webkit-box-shadow: 0px 0px 1px #ccc;
 box-shadow: 0px 0px 1px #ccc;
 -moz-border-radius: 3px;
 -webkit-border-radius: 3px;
 border-radius: 3px;
 text-align: left;
 float: left;
 clear: both;
}
div.status, table tr.ok {
 color: #ACD748;
 border: 1px solid #ACD748;
}
div.warning, table tr.warning {
 color: #925416;
 border: 1px solid #925416;
}
div.error, table tr.error {
 color: #FF3C3C;
 border: 1px solid #FF3C3C;
}
div.error ul, div.status ul, div.warning ul, div.messages ul {
 margin: 0 0 0 1em; /* LTR */
 padding: 0;
 width: 100%;
 clear: both;
}
div.error ul li, div.status ul li, div.warning ul li, div.messages ul li {
 list-style-image: none;
 text-align: left;
 padding: 5px;
 margin: 0;
 text-align: left;
 clear: both;
}
/*Tables
 -------------------------------------------------------------------*/

table {
 width: 99%;
 margin: 10px 0;
 padding: 0;
 border: none;
 clear: both;
 float: left;
 font-family: Georgia, "Times New Roman", Times, serif;
 border: none;
 padding: 0;
 border-spacing: 2px;
}
table table {
 font-size: 12px;
 line-height: 12px;
 width: 99%;
 margin: 5px 0;
}
table tr th {
 text-align: left;
 font-size: 12px;
 line-height: 14px;
 padding: 12px 4px;
 font-weight: bold;
 border: none;
 -moz-border-radius: 1px;
 -webkit-border-radius: 3px;
 border-radius: 3px;
 background: #DDDDDD;
 border: none;
}
table th img {width:auto!important;}
table tr th table tr th {
 font-size: 11px;
 line-height: 13px;
 font-weight: bold;
 padding: 5px 0;
}
tr td {
 padding: 8px 4px;
 margin: 2px;
 text-align: left;
 -moz-border-radius: 1px;
 -webkit-border-radius: 3px;
 border-radius: 3px;
 border: 1px solid #DDDDDD;
}
/*Syntax highlighter
 -------------------------------------------------------------------*/
.content > div, .syntaxhighlighter {
 overflow: auto;
}
tr td.code {
 width: 100px !important;
}
.content > div, .syntaxhighlighter {
 width: 100%;
}
.body-txt, .body-txt > p, .body-txt > div, .body-txt > div > div, .syntaxhighlighter td > div, .syntaxhighlighter td > div > div {
 width: 100%;
 clear: both;
 margin: 0 !important;
 padding: 0 !important;
}
.body-txt > div > div.syntaxhighlighter {
 margin: 0.625em 0 !important;
}
.syntaxhighlighter .toolbar {
 display: none !important;
 height: 0 !important;
 width: 0 !important;
 visibility: hidden !important;
}
.syntaxhighlighter .gutter {
 width: 4%;
}
div.tweet-text, .syntaxhighlighter {
 -moz-border-radius: 0.938em 0 0.938em 0;
 -webkit-border-radius: 0.938em 0 0.938em 0;
 border-radius: 0.938em 0 0.938em 0;
 -moz-box-shadow: 0 0 0.125em #ccc;
 -webkit-box-shadow: 0 0 0.125em #ccc;
 box-shadow: 0 0 0.125em #ccc;
}
.node > footer {
 float: left;
}
.node .content {
 margin-bottom: 0.625em;
}
.node ul {
 list-style: none;
}
.node footer > div.inline {
 width: 100%;
 margin-bottom: 0.313em;
 clear: both;
}
.node footer h3.field-label {
 float: left;
 clear: none !important;
 min-width: 50px;
 margin-right: 10px;
}
/*Default Template page for blog how to site page
 -------------------------------------------------------------------*/
#comment-form-wrapper {
 text-align: center;
}
.indented > .comment, #comments > .comment {
 float: left;
 width: 90%;
 padding: 5%;
 border: 1px solid #d5d5d5;
}
.node > .content ul, .node > .content ol {
 float: left;
 display: block;
 margin: 0 0 0 1.875em;
 width: 96%;
}
.node > .content ul li, .node > .content ol li {
 float: left;
 width: 100%;
}
.login-tabs {
 text-align: left;
}
.form-item-screen-name {
 margin-bottom: 0.938em;
}
#edit-contact .fieldset-wrapper, #edit-timezone .fieldset-wrapper {
 display: none;
 position: relative;
}
.collapsible a.fieldset-title {
 clear: both;
 display: block;
 outline: none;
 height: 29px;
 line-height: 30px;
 padding: 0.188em 0.938em;
 position: relative;
 margin-bottom: 0.188em;
 -moz-border-radius: 0.188em;
 -webkit-border-radius: 0.188em;
 border-radius: 0.938em;
 -moz-box-shadow: 0 0 0.125em #888;
 -webkit-box-shadow: 0 0 0.125em #888;
 box-shadow: 0 0 0.125em #888;
}
legend, legend span {
 width: 100%;
}
/* View user Account
 -------------------------------------------------------------------*/
.left-web .profile {
 width: 100%;
 text-align: left;
 padding-top: 0.938em;
}
.left-web .profile div.field-name-field-last-name {
 float: left;
 width: 48%;
 text-align: left;
 margin-left: 1%;
 clear: right;
}
.left-web .profile > dd, .left-web .profile > dt, .left-web .profile > h3 {
 width: 100%;
 clear: both;
}
.left-web .profile > div.user-picture {
 min-width: 100px;
 max-width: 20%;
 margin: 0 0.938em 0 0;
}
.left-web .profile > div.user-picture a {
 float: left;
}
#edit-body .filter-guidelines ul, #edit-comment-body .filter-guidelines ul {
 list-style: none;
}
/* Sitemap
 -------------------------------------------------------------------*/
.page-sitemap div#sitemap div {float:left!important; clear:both!important;}
.page-sitemap div#sitemap img {width:auto!important;}
/*Home Slideshow
 -------------------------------------------------------------------*/
.slideshow-image, .slideshow-image a, .field-name-field-image, .field-name-field-image div, .field-name-field-image img {
 width: 100%;
}
#home-slideshow {
 width: 99%;
 clear: both;
 min-height: 500px;
 margin-bottom: 15px;
 border-color:transparent!important;
 background:transparent!important;
}
.flex-control-thumbs li {
 text-align: center;
 background: transparent;
}
.flex-control-thumbs li img {
 width: 98%;
 opacity: 0.20;
}
.flex-control-thumbs li:last-child img {
 width: 100%;
 margin-top: -2px;
}
ul.search-results li, .kingtut-one {
 border-radius: 4px;
 box-shadow: 0 3px 3px rgba(0, 0, 0, 0.15);
 margin: 0 0 10px 0;
 position: relative;
 width: 98%;
 padding: 1%;
 border: none;
}
.right-web .view-most-popular, .right-web .view-related {
 width: 100%;
}
.right-web .kingtut-one {
 box-shadow: 0 2px 2px rgba(0, 0, 0, 0.15);
 padding: 1%;
}
.left-web .blog-one {
 width: 90%;
 padding: 1% 5%;
}
#comment-form {
 float: right;
 margin: 3% 0 0;
 width: 94%;
}
h1.title, .slide-title, .comment-title, #comments > .comments-header, .home-teaser-title {
 font-size: 2em;
 line-height: 1.1em;
 letter-spacing: 0.063em;
 padding: 0;
 margin: 0;
 text-align: left;
 border: none;
 font-family: 'Oswald-Bold', Verdana, Tahoma, Arial, Sans-Serif;
}
.slide-title {
 background: rgba(0, 0, 0, 0.7);
 width: 96%;
 margin: 0;
 padding: 2%;
 position: absolute;
 left: 0;
 bottom: 0;
}
.home-teaser-title {
 text-transform: uppercase;
 line-height: 1.8em;
 font-size: 1.5em;
}
.node > header > h1.title {
 line-height: 1.4em;
 clear: both;
}
h1.title {
 font-size: 3em;
}
.left-web > h1.title {
 text-transform: uppercase;
 font-size: 2em;
}
#comments .indented {
 clear: both;
 float: right !important;
 font-size: 97%;
 padding: 15px 0;
 width: 94%;
 margin-bottom: 10px;
}
.comment span.new {
 color: #f00;
 float: right;
 text-align: right;
}
.comment-title {
 font-size: 1.5em;
}
#comments > .comments-header {
 text-align: left !important;
}
.comment-info {
 width: 90%;
 font-size: 90%;
 padding: 4%;
 border-top: 2px dashed #d5d5d5;
}
.posted {
 float: right !important;
}
.comment-info ul {
 width: 100%;
 display: block;
 margin: 10px 0 0 0;
 text-align: center;
}
.comment-info ul li {
 margin: 0 0.313em;
 display: inline-block;
 text-decoration: underline;
 font-size: 85%;
}
#comments > .comments-header, .left-web .home-teaser-title {
 box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
 float: left;
 margin: 5px 0;
 padding: 5px 2%;
 width: 96%;
}
#comment-body-add-more-wrapper label, #comment-body-add-more-wrapper div.text-format-wrapper fieldset {
 float: left;
 width: 100%;
}
/* Center Pages
 -------------------------------------------------------------------*/
.left-web .kingtut-one .center-image, #main-wrapper #main .left-web .kingtut-one div.center-post-date {
 width: 46%;
 text-align: center;
 clear: left;
}
.left-web .kingtut-one .center-image {
 padding-top: 5px;
}
#main-wrapper #main .left-web .blog-one div.center-post-date {
 width: auto;
 padding: 0 7px;
}
.left-web .kingtut-one .center-image a {
 width: 100%;
 float: left;
 display: block;
 text-align: center;
}
.main-profile .profile-top .profile-top-left img, .left-web .kingtut-one .center-image img {
 box-shadow: 0 3px 4px rgba(0, 0, 0, 0.60);
}
#main-wrapper #main .left-web .kingtut-one .center-title, #main-wrapper #main .left-web .kingtut-one div.center-text {
 float: right;
 width: 52%;
}
#main-wrapper #main .left-web .kingtut-one div.center-tags {
 float: right !important;
 clear: right;
}
#main-wrapper #main .left-web .kingtut-one div.center-tags a {
 margin-left: 10px;
 padding: 5px;
 font-family: 'Oswald-Regular', Verdana, Tahoma, Arial, Sans-Serif;
}
#main > h1, ul.search-results li h3.title, .kingtut-one h2.center-title {
 font-family: 'Oswald-Bold', Verdana, Tahoma, Arial, Sans-Serif;
 font-size: 1.9em;
}
.view-most-popular {
 margin-top: 15px;
}
.search-result .search-info, .search-result h3.title, #main-wrapper #main .left-web .blog-one .center-title {
 float: left;
 width: 100%;
}
.search-result .search-snippet, #main-wrapper #main .left-web .blog-one div.center-text {
 width: 80%;
 float: left;
 margin-left: 10%;
}
div.center-text span, div.center-text p {
 text-align: left;
}
#main > div.item-list, .left-web > .view > div.item-list {
 width: 100%;
}
/*Default Node
 -------------------------------------------------------------------*/
.left-web .view,
.left-web .view .view-content,
.left-web .content,
.field-item picture {
 float: left;
 width: 100%;
}
.node > .content > .field-name-field-image {
 width: 98%;
 padding: 1%;
 margin-top: 15px;
 margin-bottom: 15px;
}
.node-full .field-name-body {
 margin: 2% 10%;
 width: 80%;
}
.article-info {
 font-size: 90%;
}
.field-type-taxonomy-term-reference {
 padding: 0 5px;
}
.node footer > ul.links {
 float: left;
}
.node footer > ul.links li {
 display: inline-block;
 float: left;
 margin-right: 10px;
}
/*Social Links on default page.
-------------------------------------------------------------------*/
div.social-links {
 float: right!important;
 display: inline-block;
}
span.print-link, span.a2a_kit {
 float: right !important;
 width: auto !important;
 margin: 10px 0 0;
 padding: 0;
}
span.print-link {
 padding-top: 3px;
}
.print-link .print_html, .print-link .print_mail {
 float: left;
}
.print-link .print_html a.print-page, .print-link .print_mail a.print-mail {
 width: 32px;
 height: 32px;
 display: block;
 text-indent: -99999px;
 font-size: 0;
 margin: 0 auto;
 outline: none;
 line-height: 0;
 float: left;
}
.print-link .print_mail, .print-link .print_html {
 margin: 0 5px 0 0;
}
.print-link .print_html a.print-page {
 background: url(print.png) no-repeat center!important;
}
.print-link .print_mail a.print-mail {
 background: url(email.png) no-repeat center!important;
}
/* Right Side
 -------------------------------------------------------------------*/
.right-web .popular-image a {
 float: left;
 width: 100%;
}
.right-web .popular-image {
 padding: 5px 1px 1px;
 width: 43%;
 margin-right: 2%;
}
.right-web .popular-title {
 width: 54%;
 float: left;
}
.right-web .popular-image img {
 box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
}
.popular-post-date {
 font-size: 90%;
 width: 100%;
 text-align: right;
}
footer > .field-name-field-rating div {
 float: right!important;
}
.center-title a, .popular-blog-title a {
 display: block;
}
.right-web .popular-post-date {
 float: right!important;
 width: auto!important;
}
.field-type-image, .field-type-image div, .field-type-image picture {
 float: left;
 width: 100%;
 clear: both;
}
/* Sign in the web site by Twitter or Facebook
-------------------------------------------------------------------*/
.sign-in-twitter {
 width: 96%;
 margin: 2%;
 clear: both;
 display: block;
}
.login-social > a, .sign-in-twitter > a {
 width: auto;
 margin: 2%;
 clear: none;
 float: left;
}
.login-social > div, .sign-in-twitter > div {
 width: auto;
 margin: 2%;
 clear: none;
 float: right!important;
}
/* Profiles page
 -------------------------------------------------------------------*/
.left-web .profile-one > div {
 width: 70%;
 margin-left: 5%;
}
.left-web .profile-one .center-image-profile {
 width: 20%!important;
 margin-left: 0!important;
}
.profile-one .label-above {
 font-size: 85%;
 color: #999;
}
/* Main profile page
-------------------------------------------------------------------*/
.main-profile .profile-top {
 border-bottom: 10px solid #DFDFDF;
 padding-bottom: 15px;
}
.main-profile .profile-top .profile-top-left {
 width: 31%;
}
.main-profile .profile-top .profile-top-right {
 width: 63%;
 margin-left: 2%;
}
.main-profile .profile-top .profile-top-right > div {
 width: 100%;
 border-bottom: 1px dotted #EBEBEB;
margin-bottom:5px padding-bottom:5px;
}
.main-profile .profile-top .profile-top-right div.social-links {
 border: none!important;
}
.main-profile .profile-top .profile-top-right .field-name-field-profile-tags ul {
 margin: 0;
}
.main-profile .profile-top .profile-top-right .field-label {
 font-size: 90%;
 color: #888;
}
/* Right side for profile and profiles pages.
-------------------------------------------------------------------*/
.right-web .profile-one > div {
 width: 73%;
 margin-left: 1%;
}
.right-web .profile-one .popular-image-profile {
 width: 20%!important;
 margin-left: 0!important;
}
.right-web .profile-one .popular-title-profile {
 font-size: 130%;
}
.right-web .profile-one .popular-text-profile {
 font-size: 90%;
 line-height: 150%;
}
/* Clickable area in video
 -------------------------------------------------------------------*/
.right-web .video-one, .left-web .video-one {
 position: relative;
}
.right-web .video-one .watch-video, .left-web .video-one .watch-video {
 position: absolute;
 top: 0;
 left: 0;
 width: 100%;
}
.right-web .video-one .watch-video a, .left-web .video-one .watch-video a {
 width: 100%;
 display: block;
 text-align: center;
 height: 100%;
 font-size: 1px!important;
}
.right-web div.login-logo, .right-web div.section {
 width: 100%;
}
/* Responsive
 -------------------------------------------------------------------*/
