/*Wrapper Divesions
-------------------------------------------------------------------*/
#page-wrapper,
#header-wrapper,
#main-menu-wrapper,
#main-wrapper,
#footer-wrapper,
#header-wrapper #header,
#main-menu-wrapper > div,
#main-menu-wrapper #main-menu,
#main-wrapper #main,
#footer-wrapper #footer {
 width: 100%;
 margin: 0 auto;
}
#page-wrapper #footer-wrapper {
    bottom:0;
}
/*Main layout for 1280px to 981px
-------------------------------------------------------------------*/
.f-nav { z-index: 9999; position: fixed; left: 0; top: 0; }
#header-wrapper #header,
#main-menu-wrapper #main-menu, #main-wrapper #main, #footer-wrapper #footer {
 max-width: 1280px;
 min-width: 981px;
}
#main-menu-wrapper .responsive-menus {}
.left-web {
 width: 68.5%;
 float: left;
 margin: 0;
 padding: 10px 1% 10px 0;
 clear: none;
}
.right-web {
 width: 29.5%;
 float: left;
 margin: 0;
 padding: 10px 0 10px 1%;
 clear: none;
}/* (685/1000) = 0.685 x 100 = 68.5%  */
#main-wrapper #main {
 min-height: 400px;
 display: block!important;
}
.node > header, #main-wrapper #main div {
 float: left;
}
.node > footer, .node > header, .left-web > article, #footer div.section, #header div.section {
 position: relative;
 width: 100%;
 clear: both;
 margin: 0 auto;
 display: block;
}
#comments {
 clear: none;
 float: left;
 margin: 0;
 padding: 0;
 width: 100%;
}
/* (312/1000) = 0.312 x 100 = 31.2%  */
