/* Reset
-------------------------------------------------------------------*/
html, header, nav, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend {
 background: transparent;
 border: 0;
 margin: 0;
 outline: 0;
 padding: 0;
 vertical-align: baseline;
 font: inherit;
}
address, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, nav, menu, section, summary {
 display: block;
}
html {
 height: 100%;
 font-size: 100%;
 overflow-y: scroll;
}
.ch:before, .ch:after {
 content: "";
 display: table;
}
.cf:after {
 clear: both;
}
.cf {
 zoom: 1
}
audio, canvas, video {
 display: inline-block;
 *display: inline;
 *zoom: 1;
}
audio:not([controls]) {
 display: none;
 height: 0;
}
[hidden] {
 display: none;
}
a:focus {
 outline: thin dotted;
}
/*General Layout
-------------------------------------------------------------------*/
@font-face {
 font-family: 'Proxima-Nova-Regular';
 src: url('../fonts/Proxima-Nova-Regular.eot');
 src: local('☺'), url('../fonts/Proxima-Nova-Regular.woff') format('woff'), url('../fonts/Proxima-Nova-Regular.ttf') format('truetype'), url('../fonts/Proxima-Nova-Regular.svg') format('svg');
 font-weight: normal;
 font-style: normal;
}
body, input, textarea, select {
 color: #000;
 background-color: #fff;
}
body {
 font: 100%/26px 'Proxima-Nova-Regular', Verdana, Tahoma, Arial, Sans-Serif;
 width: 750px;
 color: #000;
 background-color: #fff;
 margin: 0 auto;
}
ul li {
 display: inline-block;
 float: left;
}
a {
 color: #333;
 text-decoration: none;
}
/*Node Pages
-------------------------------------------------------------------*/
.a2a_kit, .field-name-field-rating, #comments .title, #comments form, .comment_forbidden {
 display: none;
}
footer > div {
 width: 100%;
 clear: both;
}
.print-logo {
 text-align: center;
}
.print-logo img {
 margin: 0 auto;
}
h1.template-title, .print-site_name {
 text-align: center;
 font-size: 1.2em;
}
.print-site_name a, .print-site_name em {
 clear: both;
}
.print-site_name .placeholder {
 font-size: 1.5em;
 clear: both;
 display: block;
 width: 100%;
}
