/* Reset
-------------------------------------------------------------------*/
html, header, nav, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend {
 background: transparent;
 border: 0;
 margin: 0;
 outline: 0;
 padding: 0;
 vertical-align: baseline;
 font: inherit;
}
address, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, nav, menu, section, summary {
 display: block;
}
html {
 height: 100%;
 font-size: 100%;
 overflow-y: scroll;
}
.ch:before, .ch:after {
 content: "";
 display: table;
}
.cf:after {
 clear: both;
}
.cf {
 zoom: 1
}
audio, canvas, video {
 display: inline-block;
 *display: inline;
 *zoom: 1;
}
audio:not([controls]) {
 display: none;
 height: 0;
}
[hidden] {
 display: none;
}
a:focus {
 outline: thin dotted;
}
/* Clearfix
-------------------------------------------------------------------*/
.clearfix:after {
 clear: both;
 content: ".";
 display: block;
 height: 0;
 line-height: 0;
 visibility: hidden;
 font-size: 0;
}
.clearfix {
 display: inline-block;
}
html[xmlns] .clearfix {
 display: block;
}
* html .clearfix {
 height: 1%;
}
caption {
 text-align: left; /* LTR */
 font-weight: normal;
}
img {
 -ms-interpolation-mode: bicubic;
}
img, object, embed, video, img.scale-with-grid {
 outline: 0;
 padding: 0;
 margin: 0;
 border: 0;
 border: none;
 text-align: center;
 width: 100%;
 _max-width: 100%;
 height: auto;
}
a img {
 border: none;
}
svg:not(:root) {
 overflow: hidden;
}
h1, h2, h3, h4, h5, h6 {
 font-weight: normal;
}
h1 a, h2 a, h3 a, h4 a, h5 a, li a {
 font-weight: inherit;
 text-decoration: none;
 color: inherit;
 outline: none;
 line-height: inherit;
}
a, a:link, a:visited, a:hover, a:active, a:focus {
 text-decoration: none;
 outline: none;
}
#main h1 a, #main h2 a, #main h3 a, #main h4 a, #main h5 a {
 text-decoration: none;
 color: inherit;
 outline: none;
 line-height: inherit;
}
h1 a, h2 a, h3 a, h4 a, h5 a {
 line-height: inherit;
 font-weight: inherit;
 text-decoration: none;
 color: inherit;
 outline: none;
}
button, input, select, textarea {
 font-family: sans-serif;
 font-size: 100%;
 margin: 0;
 vertical-align: baseline;
 *vertical-align: middle;
}
button, input {
 line-height: normal;
}
button, input[type="button"], input[type="reset"], input[type="submit"] {
 cursor: pointer;
 -webkit-appearance: button;
 *overflow: visible;
}
button[disabled], input[disabled] {
 cursor: default;
}
input[type="checkbox"], input[type="radio"] {
 box-sizing: border-box;
 padding: 0;
 *height: 13px;
 *width: 13px;
}
input[type="search"] {
 -webkit-appearance: textfield;
 -moz-box-sizing: content-box;
 -webkit-box-sizing: content-box;
 box-sizing: content-box;
}
input[type="search"]::-webkit-search-decoration, input[type="search"]::-webkit-search-cancel-button {
 -webkit-appearance: none;
}
button::-moz-focus-inner, input::-moz-focus-inner {
 border: 0;
 padding: 0;
}
textarea {
 overflow: auto;
 resize: vertical;
 vertical-align: top;
}
/* Global Classes
-------------------------------------------------------------------*/
.element-invisible {
 position: absolute;
 z-index: 10;
 left: -9999px;
}
.element-visible {
 left: auto;
}
.bold {
 font-weight: bold;
}
.red {
 color: #f00;
 float: none!important;
 margin: 0!important;
 text-align: left!important;
}
.italic {
 font-style: italic;
}
.underline {
 border-bottom: 1px solid;
}
.highlight {
 background: #ffc;
}
.text-left {
 text-align: left;
}
.text-right {
 text-align: right;
}
.text-center {
 text-align: center;
 margin: 0 auto;
}
.text-justify {
 text-align: justify;
}
.clear {
 clear: both;
}
.clear-block {
 display: block;
}
.float-left {
 float: left;
}
.float-right {
 float: right;
}
.img-left {
 float: left;
 margin: 4px 10px 4px 0;
}
.img-right {
 float: right;
 margin: 4px 0 4px 10px;
}
.nopadding {
 padding: 0
}
.noindent {
 margin-left: 0;
 padding-left: 0
}
.nobullet {
 list-style: none;
 list-style-image: none;
}
.messages ul {
 margin: 0;
}
span.clear {
 clear: both;
 display: block;
 font-size: 0;
 height: 1px;
 line-height: 0;
 margin-bottom: -1px;
}
hr {
 border: none;
 border-top: 1px solid #ccc;
 background-color: #ddd;
 color: #ddd;
 border-bottom: 1px solid #eee;
 height: 1px;
*height: 3px; /* IE6+7 need the total height */
}
