/* layout 320px => 480px
 -------------------------------------------------------------------*/
@media only screen and (max-width: 480px) {
#header-wrapper #header, #main-menu-wrapper #main-menu, #main-wrapper #main, #footer-wrapper #footer {
 max-width: 480px;
 min-width: 320px;
}
#home-slideshow {
 min-height: 200px;
}
#header .section {
 margin: 2%;
 width: 96%;
}
.left-web div.kingtut-one > h2, .left-web div.kingtut-one > div {
 width: 90% !important;
 padding: 1% 5% !important;
 margin: 0 !important;
 clear: both !important;
}
.main-profile .profile-top .profile-top-left, .left-web div.kingtut-one > div.center-image-profile {
 width: 50%!important;
 margin: 0 20%!important;
 clear: both;
}
.main-profile .profile-top .profile-top-right {
 margin: 0 10%;
 width: 80%;
}
h1.title {
 font-size: 200%;
}
#header #site-name {
 font-size: 330%;
}
#header #site-slogan {
 font-size: 180%;
}
.right-web, .left-web {
 width: 90%;
 padding: 10px 5%;
}
#main-menu ul.menu li a {
 font-size: 1.1em;
}
.slide-title {
 font-size: 130%;
}
#main > h1, ul.search-results li h3.title, .kingtut-one h2.center-title {
 font-size: 150%;
}
form, body {
 font-size: 76%;
}
ul.primary li a, ul.secondary li a {
 font-size: 100%;
}
.right-web .popular-image {
 width: 44%;
}
.right-web .popular-title {
 width: 52%;
 float: right;
}
h3.posting-guides {
 line-height: 25px;
}
.right-web .popular-title-profile {
 width: 74%;
}
}