/* layout  980px to 769px
 -------------------------------------------------------------------*/
@media only screen and (min-width: 769px) and (max-width: 980px) {
#header-wrapper #header, #main-menu-wrapper #main-menu, #main-wrapper #main, #footer-wrapper #footer {
 max-width: 980px;
 min-width: 769px;
}
#header .section {
 margin: 2%;
 width: 96%;
}
.right-web, .left-web {
 width: 90%;
 padding: 10px 5%;
}
h1.title {
 font-size: 250%;
}
#header #site-name {
 font-size: 400%;
}
#header #site-slogan {
 font-size: 200%;
}
.right-web .profile-one, .right-web .video-one, .right-web .news-one, .right-web .article-one {
 float: left;
 clear: none;
 margin: 0 0 10px 1%;
 width: 47%;
}
#main-menu ul.menu li a {
 font-size: 1.1em;
}
.slide-title {
 font-size: 160%;
}
#main > h1, ul.search-results li h3.title, .kingtut-one h2.center-title {
 font-size: 170%;
}
form, body p {
 font-size: 88%;
}
ul.primary li a, ul.secondary li a {
 font-size: 120%;
}
.right-web .popular-image {
 width: 40%;
}
.right-web .popular-title {
 width: 57%;
 float: right;
}
.right-web .popular-title-profile {
 width: 74%;
}
h3.posting-guides {
 line-height: 37px;
}
#home-slideshow {
 min-height: 300px;
}
.node-full .field-name-body {
 margin: 2% 5%;
 width: 90%;
}
}