/* Colors
Kingtut Crimson
Header: #D9E6F3;
Main Menu: #E82B00;
Body: #F3F4FC;
Footer:  #5CAFEA;
H1 Title: #3B74C4
Slogan: #2747AB

-------------------------------------------------------------------*/
/* Header
 -------------------------------------------------------------------*/
#page-wrapper #header-wrapper {
background: #eaf5fc;
background: -moz-linear-gradient(top,  #eaf5fc 0%, #d9e6f3 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#eaf5fc), color-stop(100%,#d9e6f3));
background: -webkit-linear-gradient(top,  #eaf5fc 0%,#d9e6f3 100%);
background: -o-linear-gradient(top,  #eaf5fc 0%,#d9e6f3 100%);
background: -ms-linear-gradient(top,  #eaf5fc 0%,#d9e6f3 100%);
background: linear-gradient(to bottom,  #eaf5fc 0%,#d9e6f3 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eaf5fc', endColorstr='#d9e6f3',GradientType=0 );

}
#main a {
 color: #E95800;
}
#main a:hover {
 color: #E82B00;
}
/* Main Menu
 -------------------------------------------------------------------*/
.responsive-menus.responsified .responsive-menus-simple li a {
 background: #8C1F1F;
 border-bottom: 1px solid #2747ab;
}
.responsive-menus.responsified .responsive-menus-simple li a:hover {
 background: #3b74c4;
}
#page-wrapper #main-menu-wrapper,
.responsive-menus.responsified span.toggler {
background: #b20000;
background: -moz-linear-gradient(top,  #b20000 0%, #e82b00 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#b20000), color-stop(100%,#e82b00));
background: -webkit-linear-gradient(top,  #b20000 0%,#e82b00 100%);
background: -o-linear-gradient(top,  #b20000 0%,#e82b00 100%);
background: -ms-linear-gradient(top,  #b20000 0%,#e82b00 100%);
background: linear-gradient(to bottom,  #b20000 0%,#e82b00 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b20000', endColorstr='#e82b00',GradientType=0 );

 border-top: 1px solid #2747ab;
 border-bottom: 1px solid #2747ab;
}
#main-menu ul.menu li a,
.responsive-menus.responsified span.toggler a {
 color: #888;
 text-shadow:0 1px #333;
}
#main-menu ul.menu li a:hover,
.responsive-menus.responsified span.toggler a:hover {
  color: #D9E6F3;
}
#main-menu ul.menu li a.active,
.responsive-menus.responsified span.toggler a.active {
 color: #fff;
background: #2c77c1;
background: -moz-linear-gradient(top,  #2c77c1 0%, #2747ab 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#2c77c1), color-stop(100%,#2747ab));
background: -webkit-linear-gradient(top,  #2c77c1 0%,#2747ab 100%);
background: -o-linear-gradient(top,  #2c77c1 0%,#2747ab 100%);
background: -ms-linear-gradient(top,  #2c77c1 0%,#2747ab 100%);
background: linear-gradient(to bottom,  #2c77c1 0%,#2747ab 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2c77c1', endColorstr='#2747ab',GradientType=0 );

}
/* Body
 -------------------------------------------------------------------*/
body,
.syntaxhighlighter td {
 color: #5F5F5F;
}
body,
.syntaxhighlighter td,
#page-wrapper #main-wrapper {
 background: #F3F4FC;
}
/* Footer
 -------------------------------------------------------------------*/
#page-wrapper #footer-wrapper {
 background: #5CAFEA;
 min-height: 100px;
}
/* Site Name and Slogan
 -------------------------------------------------------------------*/

/* Forms
 -------------------------------------------------------------------*/
.collapsible a.fieldset-title {
 color: #9349C2;
}
label,
.field-lable,
h3.posting-guides,
#edit-terms-of-use .fieldset-legend {
 color: #3b74c4;
}
a.button,
.form-text,
.form-select,
a.button:link,
.form-textarea,
input.form-submit,
div.captcha > img,
.form-actions #edit-cancel {
 border: 1px solid #D3DFDC;
 color: #475F70
}
input.form-submit {
 color: #fff;
}
a.button,
a.button:link,
input.form-submit,
.form-actions #edit-cancel {
 background: #3b74c4;
}
a.button:hover,
input.form-submit:hover,
.form-actions #edit-cancel:hover {
 background: #e82b00;
 color: #3b74c4;
}
div.description {
 color: #959595;
}
/*footer Copyright
 -------------------------------------------------------------------*/
#footer .copyright,
#footer .copyright a {
 color: #3b74c4;
}
#footer a {
 color: #3b74c4;
}
#footer a:hover {
 border-bottom: 0.063em dotted #fff;
 color: #fff;
}
/*Pager
 -------------------------------------------------------------------*/
.flippy li.next.empty,
.flippy li.previous.empty {
 color: #26221D;
}
ul.flippy li,
.comment-form a.username {
 color: #26221D;
}
ul.flippy li a:hover {
 color: #8C1F1F;
}
/*System Tab
 -------------------------------------------------------------------*/
ul.primary li a,
ul.secondary li a {
 color: #122F32;
 background: #fff;
}
ul.primary li.active a,
ul.secondary li.active a {
 color: #fff!important;
 background: #3b74c4;
}
ul.primary li a:hover,
ul.secondary li a:hover,
ul.primary li.active a:hover,
ul.secondaryli.active a:hover {
 background: #e82b00!important;
 color: #3b74c4!important;
}
/*Tables
 -------------------------------------------------------------------*/
table tr.even td a {
 color: #666;
}
table tr.even td {
 background: #F5F5F5;
 color: #666;
 border: none;
}
table tr.odd td a {
 color: #444;
}
table tr.odd td {
 background: #EBEBEB;
 color: #444;
 border: none;
}
/*  Tags on the default page
 -------------------------------------------------------------------*/
div.tags a,
div#user-menu a {
 color: #3C8840;
}
#comments > .comments-header,
.left-web .home-teaser-title {
 background: #D9E6F3;
}
h1.title,
.comment-title,
#comments > .comments-header,
.home-teaser-title {
 color: #5f5f5f;
}
.kingtut a:hover img {
 opacity: 0.6;
}
#main > h1,
h3.title,
.popular-title,
.popular-blog-title,
.center-title {
 color: #3b74c4;
}
.right-web .popular-title,
.right-web .popular-blog-title{
 color: #5f5f5f;
}
.search-snippet {
 color: #3b74c4;
}
#main-wrapper #main .left-web .kingtut-one div.center-tags,
#main-wrapper #main .left-web .kingtut-one div.center-tags a {
 color: #3b74c4;
}
#main-wrapper #main .left-web .kingtut-one div.center-post-date {
 color: #e82b00;
 font-size: 90%;
 background: #d9e6f3;
}
.kingtut-one {
 background: none;
}
.slide-title {
 color: #748687;
}
.popular-post-date {
 color: #748687;
}
.node > .content > .field-name-field-image {
 background: #f0f0f0;
}
#home-slideshow {
 border-color: #f0f0f0;
 background: #f0f0f0;
}
/*  Responsive
 -------------------------------------------------------------------*/
