.maintenance-page #page-wrapper {
 margin-left: auto;
 margin-right: auto;
 width: 900px;
 border: 1px dotted #36AEDB;
 -moz-box-shadow: 0px 0px 5px #36AEDB;
 -webkit-box-shadow: 0px 0px 5px #36AEDB;
 box-shadow: 0px 0px 5px #36AEDB;
 -moz-border-radius: 8px;
 -webkit-border-radius: 8px;
 border-radius: 15px;
 margin-top: 10px;
}
-------------------------------------------------------------------*/
#header-wrapper #header, #main-menu-wrapper #main-menu, #main-wrapper #main, #footer-wrapper #footer {
 max-width: 900px;
 min-width: 900px;
}
.left-web {
 width: 90%;
 float: left;
 margin: 0 5%;
 padding:0;
 clear: both;
}

#main-wrapper #main {
 min-height: 200px;
 display: block!important;
}
.maintenance-page #header {
 padding-top: 100px;
}
.maintenance-page #header, .maintenance-page #messages, .maintenance-page #main {
 width: 98%;
}
.maintenance-page #header div.section, .maintenance-page #main {
 width: 98%;
 clear: both;
 margin: 0 auto;
}
.maintenance-page #main {
 margin: 0;
}
.maintenance-page #content .section {
 padding: 0;
 margin: 0 auto;
 text-align: center;
 font-size: 1.2em;
}
.maintenance-page #name-and-slogan {
 margin: 0 auto;
 padding: 0 ;
 width: 98%;
 text-align:center;
}
.maintenance-page #name-and-slogan, .maintenance-page #name-and-slogan a {
 color: #5F7629;
 text-align: center;
}
.maintenance-page #name-and-slogan a:hover {
 color: #98B933;
}
.maintenance-page h1#page-title {
 line-height: 1em;
 margin-top: 0;
}
.maintenance-page #messages {
 padding: 0;
 margin-top: 0;
}
.maintenance-page #messages div.messages {
 margin: 0;
}
.maintenance-page #messages div.section {
 padding: 0;
 width: auto;
}
