/* Colors
Kingtut Red
Header:#000;
Main Menu: #E82B00;
Body: #FFF;
Footer:  #317224;
H1 Title: #3B484B;
Slogan: #5E6664;

-------------------------------------------------------------------*/
/* Header
 -------------------------------------------------------------------*/
#page-wrapper #header-wrapper {
 background: #000;
}
#main a {
 color: #D33B00;
}
#main a:hover {
 color: #317224;
}
/* Main Menu
 -------------------------------------------------------------------*/
.responsive-menus.responsified .responsive-menus-simple li a {
 background: #E82B00;
 border-bottom: 1px solid #317224;
}
.responsive-menus.responsified .responsive-menus-simple li a:hover {
 background: #317224;
}
#page-wrapper #main-menu-wrapper,
.responsive-menus.responsified span.toggler {
 background: #E82B00;
 border-top: 1px solid #317224;
 border-bottom: 1px solid #317224;
}
#main-menu ul.menu li a,
.responsive-menus.responsified span.toggler a {
 color: #5E6664;
}
#main-menu ul.menu li a:hover,
.responsive-menus.responsified span.toggler a:hover {
 color: #fff;
}
#main-menu ul.menu li a.active,
.responsive-menus.responsified span.toggler a.active {
 color: #3B484B;
 background: #317224;
}
/* Body
 -------------------------------------------------------------------*/
body,
.syntaxhighlighter td {
 color: #000;
}
body,
.syntaxhighlighter td,
#page-wrapper #main-wrapper {
 background: #FFF;
}
/* Footer
 -------------------------------------------------------------------*/
#page-wrapper #footer-wrapper {
 background: #317224;
 min-height: 100px;
}
/* Site Name and Slogan
 -------------------------------------------------------------------*/
h1#site-name {
 color: #3B484B;
}
#header h2#site-slogan {
 color: #5E6664;
}
/* Forms
 -------------------------------------------------------------------*/
.collapsible a.fieldset-title {
 color: #9349C2;
}
label,
.field-lable,
h3.posting-guides,
#edit-terms-of-use .fieldset-legend {
 color: #748687;
}
a.button,
.form-text,
.form-select,
a.button:link,
.form-textarea,
input.form-submit,
div.captcha > img,
.form-actions #edit-cancel {
 border: 1px solid #E8E0DD;
 color: #3B484B;
}
a.button,
a.button:link,
input.form-submit,
.form-actions #edit-cancel {
 color: #3B484B;
 background: #317224;
}
a.button:hover,
input.form-submit:hover,
.form-actions #edit-cancel:hover {
 background: #122F32;
 color: #D3DFDC;
}
div.description {
 color: #959595;
}
/*footer Copyright
 -------------------------------------------------------------------*/
#footer .copyright,
#footer .copyright a {
 color: #000;
}
#footer a {
 color: #F6FFF9;
}
#footer a:hover {
 border-bottom: 0.063em dotted #fff;
 color: #fff;
}
/*Pager
 -------------------------------------------------------------------*/
.flippy li.next.empty,
.flippy li.previous.empty {
 color: #26221D;
}
ul.flippy li,
.comment-form a.username {
 color: #26221D;
}
ul.flippy li a:hover {
 color: #8C1F1F;
}
/*System Tab
 -------------------------------------------------------------------*/
ul.primary li a,
ul.secondary li a {
 color: #122F32;
 background: #fff;
}
ul.primary li.active a,
ul.secondary li.active a {
 color: #122F32!important;
 background: #6C9497;
}
ul.primary li a:hover,
ul.secondary li a:hover,
ul.primary li.active a:hover,
ul.secondaryli.active a:hover {
 color: #122F32!important;
 background: #78937B;
}
/*Tables
 -------------------------------------------------------------------*/
table tr.even td a {
 color: #666;
}
table tr.even td {
 background: #F5F5F5;
 color: #666;
 border: none;
}
table tr.odd td a {
 color: #444;
}
table tr.odd td {
 background: #EBEBEB;
 color: #444;
 border: none;
}
/*  Tags on the default page
 -------------------------------------------------------------------*/
div.tags a,
div#user-menu a {
 color: #3C8840;
}
#comments > .comments-header,
.left-web .home-teaser-title {
 background: #F6FFF9;
}
h1.title,
.comment-title,
#comments > .comments-header,
.home-teaser-title {
 color: #317224;
}
.kingtut a:hover img {
 opacity: 0.6;
}
.popular-blog-title,
.popular-title,
.center-title {
 color: #5e6664;
}
#main-wrapper #main .left-web .kingtut-one div.center-tags,
#main-wrapper #main .left-web .kingtut-one div.center-tags a {
 color: #748687;
}
#main-wrapper #main .left-web .kingtut-one div.center-post-date {
 color: #317224;
 font-size: 90%;
 background: #F6FFF9;
}
.kingtut-one {
 background: none;
}
.slide-title {
 color: #748687;
}
.popular-post-date {
 color: #748687;
}
.node > .content > .field-name-field-image {
 background: #f0f0f0;
}
#home-slideshow {
 border-color: #f0f0f0;
 background: #f0f0f0;
}
/*  Responsive
 -------------------------------------------------------------------*/
